# This token expires after 24 hours. You can get a new one from the your Meta App Dashboard > API Setup
# Or you can create an access token at the System User level from the Meta Business Settings: https://business.facebook.com/settings/system-users

ACCESS_TOKEN="EAAblkGPRuTUBO29ZCMgY5hF3qijG1FcoF4dDKl5V8Shjv7G6Lmss2uvw6JPxsNPq4FDkGWZBwRfBMCRZAuMhl5tg5p4erZCgzBIFLkd0HB5qPgo8LNu5qNk3g2ZA6CMLaclMjMpMpUXBZBEl1PsbrDVLdZCDplx5QZA1x9PZCaWBZBKbkXxLnZBOUD8HCE3kWiaYoKcYLh9pPw9wG2ZBLxMU6xLZB8CJutUna3Vs49441xyP4"

APP_ID="xxxxxx"
APP_SECRET="xxxxx"
RECIPIENT_WAID="+573015859341"
VERSION="v20.0"
PHONE_NUMBER_ID="xxxxx"

VERIFY_TOKEN="xxxxx"

OPENAI_API_KEY="xxxxx"
OPENAI_ASSISTANT_ID="xxxxxx"